.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--maxWidth-4xl);
  margin: 0 auto;
  padding: 12px 4px;
}

.navbar h1 {
  margin: 0;
}

.links {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: var(--text-color);
  margin: 0;
  padding: 0 12px;
  font-weight: bold;
}
